APP_CONFIG__DB__URL=postgresql+asyncpg://logistics:logistics@localhost:5432/logistics
APP_CONFIG__ACCESS_TOKEN__RESET_PASSWORD_TOKEN_SECRET=your-reset-password-secret-here
APP_CONFIG__ACCESS_TOKEN__VERIFICATION_TOKEN_SECRET=your-verification-secret-here
APP_CONFIG__MAIL__HOST=localhost
APP_CONFIG__MAIL__PORT=1025
APP_CONFIG__MAIL__FROM=noreply@logistics-system.com
